<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chaseit"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="17" />

    <application
        android:name="com.chaseit.ChaseItApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_map"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        <activity
            android:name="com.chaseit.activities.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.chaseit.activities.UserDetailsActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name" />
        <activity
		    android:name="com.chaseit.activities.HomeScreenActivity" >
        </activity>


        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCs-ovDRM5FebnyAp73_woIjIrlKUzq3KA" />

        <activity
            android:name="com.chaseit.activities.test.MapsTestActivity"
            android:label="@string/title_activity_maps_test" >
        </activity>
        <activity
            android:name="com.chaseit.activities.CreateChaseActivity"
            android:label="@string/title_activity_create_chase" >
        </activity>
        <activity
            android:name="com.chaseit.activities.PlaceholderActivity"
            android:label="@string/title_activity_placeholder" >
        </activity>
        <activity
            android:name="com.chaseit.activities.test.HuntDetailsTestActivity"
            android:label="@string/title_activity_hunt_details" >
        </activity>
        <activity
            android:name="com.chaseit.activities.test.HuntPlayTestActivity"
            android:label="@string/title_activity_hunt_play" >
        </activity>
        <activity
            android:name="com.chaseit.activities.CreateChaseLocationsActivity"
            android:label="@string/title_activity_create_chase_locations" >
        </activity>
        <activity
            android:name="com.chaseit.activities.AddChaseLocation"
            android:theme="@android:style/Theme.Holo.Light.Dialog"
            android:label="@string/title_activity_add_chase_location" >
        </activity>
        <activity
            android:name="com.chaseit.activities.test.HuntMapWithMarkersTestActivity"
            android:label="@string/title_activity_hunt_map_with_markers" >
        </activity>
        <activity
            android:name="com.chaseit.activities.HuntShowImageActivity"
            android:label="@string/title_activity_hunt_show_image" >
        </activity>
    </application>

</manifest>